.list-item {
  height: 170px;
  width: 700px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto';
  margin-top: 20px;
}
.blog-name {
  font-size: 12px;
  color: #8e8e8e;
}
.blog-heading {
  font-size: 14px;
  color: #000000;
}
.avatar-name {
  font-size: 10px;
  color: #8e8e8e;
  margin-left: 8px;
}
.blog-image {
  height: 140px;
  width: 240px;
}
.avatar-image {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}
.right-container {
  margin-left: 10px;
}
.avatar-con {
  display: flex;
  align-items: center;
}
